
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            list-style: none;
            text-decoration: none;
            color: black;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        .container {
            padding: 60px 8vw;
        }

        .sign-up-form {
            position: relative;
            z-index: 1;
            max-width: 400px;
            margin: auto;
            background-color: rgb(248, 232, 217);
            /* Set the background color of the form */
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 20px rgb(253, 124, 124)
                /* Add a subtle box shadow */
        }

        .sign-up-form h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        .sign-up-form label {
            display: block;
            margin-bottom: 8px;
        }

        .sign-up-form input {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid orangered;
            border-radius: 5px;
        }

        .sign-up-form button {
            width: 100%;
            padding: 10px;
            background-color: rgb(253, 77, 8);
            color: aliceblue;
            font-weight: bold;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .sign-up-form button:hover {
            color: orangered;
            background-color: whitesmoke;
        }

        .sign-up-form p {
            text-align: center;
            margin-top: 15px;
        }

        .sign-up-form a {
            color: rgb(253, 77, 8);
            text-decoration: underline;
        }

        .sign-up-form a:hover {
            color: rgb(253, 57, 8);
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            list-style: none;
            text-decoration: none;
            color: black;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        .headerbar {
            display: none;
        }

        .logo img {
            width: 50px;
        }

        .bar {
            display: none;
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 70px;
            padding: 0 7vw;
            background-color: rgb(248, 232, 217);
            border-bottom: 2px solid rgb(252, 196, 124);
            box-shadow: 0 2px 20px rgb(253, 124, 124);
        }

        .header ul {
            display: flex;
            align-items: center;
        }

        .header ul li:hover {
            color: rgb(253, 57, 8);
        }

        .nav ul li {
            padding: 0 15px;
            font-size: 14px;
            font-weight: bold;
        }

        .account {
            flex: 0.1;
        }

        .account ul {
            display: flex;
            justify-content: end;
        }

        .account ul li {
            padding: 0 15px;
            font-size: 18px;
        }

        .bar i:hover {
            color: rgb(253, 57, 8);
        }

        .home {
            background-color: rgb(248, 231, 217);
            padding: 0 7vw;
            height: 800vh;
        }

        .main_slide {
            display: flex;
            align-items: center;
            flex-wrap: wrap-reverse;
        }

        .main_slide div:nth-child(2) {
            flex: 1;
            display: flex;
            justify-content: center;
            padding-top: 40px;
        }

        .main_slide div:nth-child(1) {
            padding-top: 20px;
            flex: 1;
            font-size: 30px;
        }

        .main_slide div:nth-child(1) p {
            font-size: 13px;
            padding: 20px 0;
        }

        .main_slide div:nth-child(1) span {
            color: rgb(253, 57, 8);
            text-decoration: underline rgb(253, 176, 34);
            text-underline-offset: 10px;
        }

        .red_btn {
            cursor: pointer;
            margin-top: 20px;
            width: 160px;
            font-weight: bold;
            color: aliceblue;
            line-height: 50px;
            background-color: rgb(253, 77, 8);
            border-radius: 5px;
            border: 1px solid rgb(253, 77, 8);
            box-shadow: 0 10px 15px rgb(250, 120, 69);
            transition: all 0.2s;
        }

        footer {
            background-color: #fff0db;
            border-radius: 20px;
            /* Adds a border radius to the footer */
        }

        .link_lists h3,
        .news_letter h3 {
            margin-bottom: 10px;
            color: gray;
            text-align: center;
            /* Aligns the text to the center */
        }

        .footer_container .link_lists h3:hover,
        .news_letter h3:hover {
            color: orangered;
            /* Changes the color of the h3 on hover */
        }

        .link_lists ul {
            list-style: none;
            padding: 0;
            /* Removes the default padding */
            text-align: center;
            /* Aligns the text to the center */
        }

        .link_lists ul li {
            font-size: 16px;
            margin-bottom: 5px;
        }

        .news_letter input {
            padding: 5px 40px;
            margin-bottom: 10px;
            display: block;
            /* Makes the input field a block element */
            margin-left: auto;
            /* Aligns the input field to the center */
            margin-right: auto;
        }

        .footer_container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 160px;
            margin-top: 60px;
            padding: 0 7vw;
            background-color: rgb(248, 232, 217);
            border-bottom: 2px solid rgb(252, 196, 124);
            border-radius: 20px;
            box-shadow: 0 2px 20px rgb(253, 124, 124);
            /* Adds a box shadow */
        }

        .icon_container {
            display: flex;
            gap: 15px;
            font-size: 32px;
            justify-content: center;
            /* Aligns the icons to the center */
        }

        .icon_container .icon:hover {
            color: #ff0000;
            /* Changes the color of the icon on hover */
        }

        body {
           
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            list-style: none;
            text-decoration: none;
            color: black;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            background-image: url('/static/images/banner_bg.jpeg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        /* Rest of the CSS... */

        @media only screen and (max-width: 768px) {
            /* Media query styles for screens up to 768px width */

            .header .nav,
            .header .account {
                display: none;
            }

            .footer_container {
                flex-direction: column;
            }

            /* Rest of the media query styles... */
        }

        @media only screen and (max-width: 550px) {
            /* Media query styles for screens up to 550px width */

            .main_slide div:nth-child(1) {
                font-size: 18px;
            }

            /* Rest of the media query styles... */
        }
        .custom-error-message {
            font-size: 12px;
            color: red; 
            margin-bottom: 8px;
        }
        .img-resize {
            width: 100px;
            height: auto;
        }
   